<!DOCTYPE html>
<html>
<body>

<h1 style="color: blue;">Welcome to the HTML homepage</h1>

<p>This link will take you to the about page of my website please feel free to click that</p>
<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'about', about_path %>

</body>
</html>
